 body {
     background: #f2f2f2;
     display: flex;
     justify-content: center;
 }

 .container {
     width: 90%;
     max-width: 600px;
     background: white;
     padding: 20px;
     margin-top: 20px;
     border-radius: 10px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
 }

 input {
     width: 100%;
     padding: 10px;
     margin: 6px 0;
     border-radius: 5px;
     border: 1px solid #ccc;
     transition: 0.2s;
 }

 input:hover {
     border-color: #555;
 }

 #addTaskBtn {
     width: 100%;
     padding: 10px;
     background: #007bff;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: 0.2s;
     margin-top: 10px;
 }

 #addTaskBtn:hover {
     background: #0056b3;
 }

 .task-card {
     background: #fafafa;
     padding: 20px;
     border-radius: 8px;
     margin: 10px 0;
     border: 1px solid #ddd;
     transition: 0.2s;
 }

 .complete-btn,
 .delete-btn {
     padding: 8px 12px;
     border: none;
     border-radius: 5px;
     margin-right: 10px;
     cursor: pointer;
     transition: 0.2s;
 }

 .complete-btn {
     background: #28a745;
     color: white;
 }

 .complete-btn:hover {
     background: #1e7e34;
 }

 .delete-btn {
     background: #dc3545;
     color: white;
 }

 .delete-btn:hover {
     background: #a71d2a;
 }

 #summaryBar {
     padding : 15px;
     border-radius: 20px;
     display: flex;
     justify-content: space-around;
     margin-bottom: 20px;
     font-size: 18px;
     font-weight: 600;
     background: #fff8cc;
 }